$bgColor: #607D8B;
$titleHeader: #FFF;
// .window {
//     background-color: $bgColor;
//     color: white;
// }
input {
    color: $bgColor;
}

.title-header {
    color: $titleHeader;
}

.contact-button {
    height: 25px;
    width: 100px;
}

// .button {
//     background-color: #4CAF50;
//     /* Green */
// }
.button:hover {
    border: 1px solid #555555;
}

.btn-disable {
    cursor: not-allowed;
    pointer-events: none;
}

.list-group-item {
    background-color: rgb(246, 246, 246);
    color: black;
}

.contact-icon {
    height: 20px;
    width: 20px;
}

.side-pane {
    margin-top: 20px;
    background-color: #f5f5f4;
}

.pane {
    //margin: 5px;
    border-color: #ffffff #ffffff;
}

.selectPane {
    margin: 8px;
    font-size: 15px;
}

.main-pane {
    // margin: 5px;
    background-color: white;
}

webview {
    width: 445px;
    height: 750px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}