$bgColor: #607D8B;
$titleHeader: #FFF;

// .window {
//     background-color: $bgColor;
//     color: white;
// }

input {
    color: $bgColor;
}

.title-header {
    color: $titleHeader;
}

.list-group-item {
    background-color: #f5f5f4; 
    color: black; 
}

.side-pane {
    margin-top: 20px; 
    background-color: #f5f5f4; 
}

.main-pane {
    margin: 5px; 
}

webview {
    width: 445px;
    height: 750px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}